/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #319a9f;
  padding-left: 20px;
}

.image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
}
#mrygacz {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.rightcolumn .card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin-left: auto;
  margin-right: auto;
}

.leftcolumn p {
  font-size: 21px;
}
img.arduino1 {
  width: 100%;
}

h4 {
  margin: 10px;
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
